@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100% !important;
}
.slick-dots li.slick-active button {
  width: 7px !important;
  height: 7px !important;
  border-radius: 100%;
  background: orange !important;
}
